
<div class="container profile top-padding">



    <div class="spacer"></div>

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile is-parent">
          <article class="tile is-child">
            <div class="columns">

              <% if current_user == @user %>
                <div class="column is-4" id="myBtn">
                  <div class="card text-">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="http://toolboard.org/static/img/flaticon/file-storage.png" alt="">
                      </figure>
                    </div>
                    <div class="card-content has-text-centered">
                      <div class="panel-block-item">
                        <span class="description">
                          Add Project
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>


              <% @projects.each do |project| %>
              <div class="column is-4">
                <%= link_to project_path(project) do%>
                      <div class="card">
                        <div class="card-image">
                          <figure class="image is-4by3">
                            <img src="<%= project.image[0] %>" alt="Image">
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="panel-block-item">
                            <span class="description">
                              <%= truncate(project.description) %>
                            </span>
                          </div>
                        </div>
                      </div>
                    <% end %>
                </div>
              <% end %>
            </div>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <div class="content">
            <p class="title"><%= @user.name %></p>
            <p class="subtitle">With even more content</p>
            <div class="content">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div id="myModal" class="modal">

    <div class="modal-content">
      <span class="close">&times;</span>
      <%= render 'projects/form', project: @project %>
    </div>

  </div>


<script>
// Get the modal
  var modal = document.getElementById('myModal');

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on the button, open the modal
  btn.onclick = function() {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
  }
</script>
