
<div class="container">
  <div class="spacer"></div>
  <div class="columns">
    <div class="column is-6">
      <%= link_to "Compose", new_conversation_path,{:style=>'width:10em', :class => "button is-primary"}%>
    </div>
    <div class="column is-6">
      <% if conversation.is_trashed?(current_user) %>
          <%= link_to 'Untrash', untrash_conversation_path(conversation), {:style=>'width:10em', :class => "button is-primary is-pulled-left", method: :post} %>
      <% else %>
          <%= link_to 'Move to trash', trash_conversation_path(conversation), {:style=>'width:10em', :class => "button is-primary is-pulled-left", method: :post, data: {confirm: 'Are you sure?'}} %>
      <% end %>
    </div>
  </div>

  <div class="columns">
  <div class="column is-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

  <div class="column is-8 box">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'messages' %>
      </div>
      <div class="panel-footer">
        <!-- Reply Form -->
        <br>
        <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
            <div class="form-group">
              <%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control input" %>
            </div>
            <br>
            <%= f.submit "Reply", {:style=>'width:10em', :class => "button is-primary"}%>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</div>
