<div class="container top-padding">
  <div class="columns">
      <% @unsolved_challenges.each do |challenge|%>
      <div class="column is-one-third">
        <%= link_to challenge_path(challenge) do%>
          <div class="card">
              <div class="card-image">
              <figure class="image is-4by3">
              <img src="<%= challenge.challengeimage %>" alt="">
              </figure>
              </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">

                    <figure class="image is-48x48">
                      <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
                    </figure>

                </div>
                <div class="media-content">
                  <p class="title is-4">John Smith</p>
                  <p class="subtitle is-6">@johnsmith</p>
                </div>
              </div>

              <div class="content">
                <%= challenge.description %>
                <br>
                <small>11:09 PM - 1 Jan 2016</small>
              </div>
            </div>
          </div>
          <% end %>
      </div>
    <% end %>

  </div>
</div>

<article class="media">
  <div class="media-left">
    <figure class="image is-64x64">
      <img src="<%= challenge.challengeimage %>" alt="Image">
    </figure>
  </div>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>John Smith</strong> <small>@johnsmith</small> <small style="float:right;">31m</small>
        <br>
        <%= challenge.description %>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-reply"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-retweet"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-heart"></i></span>
        </a>
      </div>
    </nav>
  </div>
</article>


  <%= render 'challenges/form', :challenge => @challenge%>
