<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Challenges</th>
      <th>Projects</th>
      <th>Solutions</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <th><%= user.id %></th>
      <td><%= user.name %></td>
      <td><%= user.challenges.count %></td>
      <td><%= user.projects.count %></td>
      <td><%= user.solutions.count %></td>
      <td><%= user.role %></td>
    </tr>
    <% end %>
  </tbody>
</table>
