
<section class="section main">
    <div class="container">

      <div class="columns">
        <div class="column is-3">
          <nav class="panel">
            <p class="panel-heading">
              Challenges
            </p>
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input is-small" type="text" placeholder="Search">
                <span class="icon is-small is-left">
                  <i class="fa fa-search"></i>
                </span>
              </p>
            </div>

            <% @unsolved_challenges.each_with_index do |challenge,index| %>
            <a class="panel-block is-active panellinks" onclick="openlink(event, '<%= index %>')" id="defaultOpen">
              <span class="panel-icon">
                <i class="fa fa-book"></i>
              </span>
              <%= challenge.description %>
            </a>
            <% end %>
          </nav>
        </div>

        <div class="column is-6">

          <div class="panel-content clearfix">

            <% @unsolved_challenges.each_with_index do |challenge,index| %>
              <div class="panelcontent" id="<%= index %>">

                <div class="notification">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="http://placehold.it/128x128" alt="Image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>John Smith</strong> <small>@johnsmith</small> <small style="float:right;">31m</small>
                          <br>
                          <%= challenge.description %>
                      </div>
                    </div>
                  </article>
                </div>

                <div class="notification">
                  <div class="columns has-text-centered">
                    <div class="column">
                      <p class="heading">Twitter</p>
                      <p class="title">1234</p>
                    </div>



                    <div class="column">
                      <p class="heading">Twitter</p>
                      <p class="title">1234</p>
                    </div>


                    <div class="column">
                      <p class="heading">Twitter</p>
                      <p class="title">1234</p>
                    </div>
                  </div>
                </div>

                  <div class="box">
                  <% challenge.solutions.reverse.each do |solution| %>
                  <p class="event-item">
                     <span class="icon-item-type"><i class="fa fa-upload"></i></span>

                     <%= solution.user.email %> has uploaded a solution
                     <br>
                     <%= truncate(solution.description, length:100)%>
                     <small>1 hours ago</small>

                   </p>
                  <% end %>

                  </div>
              </div>
            <% end %>

          </div>




        </div>
        <div class="column is-3">
          <div class="box">
            <p><span class="title is-5">Recommended Developers</span>
            <hr>
            <div class="columns">
              <div class="column is-3 is-marginless">
                <div class="image">
                  <img src="https://placehold.it/200x200">
                </div>
              </div>
              <div class="column is-9">
                <p>
                  <a href="#">
                    <strong>John Smith</strong>
                  </a>
                </p>
                <a class="button is-primary is-small">
                  <span>
                    + Follow
                  </span>
                </a>
              </div>
            </div>
            <div class="columns">
              <div class="column is-3 is-marginless">
                <div class="image">
                  <img src="https://placehold.it/200x200">
                </div>
              </div>
              <div class="column is-9">
                <p>
                  <a href="#">
                    <strong>Jane Smith</strong>
                  </a>
                </p>
                <a class="button is-primary is-small">
                  <span>
                    + Follow
                  </span>
                </a>
              </div>
            </div>
            <div class="columns">
              <div class="column is-3 is-marginless">
                <div class="image">
                  <img src="https://placehold.it/200x200">
                </div>
              </div>
              <div class="column is-9">
                <p>
                  <a href="#">
                    <strong>Mike Scott</strong>
                  </a>
                </p>
                <a class="button is-primary is-small">
                  <span>
                    + Follow
                  </span>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <script>

  document.getElementById("defaultOpen").click();
  function openlink(evt, link) {
    var i,
      panelcontent,
      panellinks;

    panelcontent = document.getElementsByClassName("panelcontent");

    for (i = 0; i < panelcontent.length; i++) {
      panelcontent[i].style.display = "none";
    }
    panellinks = document.getElementsByClassName("panellinks");

    for (i = 0; i < panellinks.length; i++) {
      panellinks[i].className = panellinks[i].className.replace(" is-active", "");
    }

    document.getElementById(link).style.display = "block";
    evt.currentTarget.className += " is-active";
  }

  </script>
