
<section class="section main">
    <div class="container">

      <div class="columns">
        <div class="column is-3">
          <nav class="panel">
            <p class="panel-heading">
              Challenges
            </p>
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input is-small" type="text" placeholder="Search">
                <span class="icon is-small is-left">
                  <i class="fa fa-search"></i>
                </span>
              </p>
            </div>

            <% @unsolved_challenges.each_with_index do |challenge,index| %>
            <a class="panel-block is-active panellinks" onclick="openlink(event, '<%= index %>')" id="defaultOpen">
              <span class="panel-icon">
                <i class="fa fa-book"></i>
              </span>
              <%= challenge.description %>
            </a>
            <% end %>
          </nav>
        </div>

        <div class="column is-6">
          <div class="box">
            <div class="panel-content clearfix">

            <% @unsolved_challenges.each_with_index do |challenge,index| %>
              <div class="panelcontent" id="<%= index %>">
                  <%=challenge.description %>
                  <% challenge.solutions.each do |solution| %>
                    <%= solution.description%>
                  <% end %>
              </div>
            <% end %>

          </div>

          </div>
        </div>
        <div class="column is-3">
          <div class="box">
            <p><span class="title is-5">Recommended Developers</span>
            <hr>
            <div class="columns">
              <div class="column is-3 is-marginless">
                <div class="image">
                  <img src="https://placehold.it/200x200">
                </div>
              </div>
              <div class="column is-9">
                <p>
                  <a href="#">
                    <strong>John Smith</strong>
                  </a>
                </p>
                <a class="button is-primary is-small">
                  <span>
                    + Follow
                  </span>
                </a>
              </div>
            </div>
            <div class="columns">
              <div class="column is-3 is-marginless">
                <div class="image">
                  <img src="https://placehold.it/200x200">
                </div>
              </div>
              <div class="column is-9">
                <p>
                  <a href="#">
                    <strong>Jane Smith</strong>
                  </a>
                </p>
                <a class="button is-primary is-small">
                  <span>
                    + Follow
                  </span>
                </a>
              </div>
            </div>
            <div class="columns">
              <div class="column is-3 is-marginless">
                <div class="image">
                  <img src="https://placehold.it/200x200">
                </div>
              </div>
              <div class="column is-9">
                <p>
                  <a href="#">
                    <strong>Mike Scott</strong>
                  </a>
                </p>
                <a class="button is-primary is-small">
                  <span>
                    + Follow
                  </span>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <script>

  document.getElementById("defaultOpen").click();
  function openlink(evt, link) {
    var i,
      panelcontent,
      panellinks;

    panelcontent = document.getElementsByClassName("panelcontent");

    for (i = 0; i < panelcontent.length; i++) {
      panelcontent[i].style.display = "none";
    }
    panellinks = document.getElementsByClassName("panellinks");

    for (i = 0; i < panellinks.length; i++) {
      panellinks[i].className = panellinks[i].className.replace(" is-active", "");
    }

    document.getElementById(link).style.display = "block";
    evt.currentTarget.className += " is-active";
  }

  </script>
