
<section class="section main">
  <div class="container">
      <div class="columns">
        <div class="column is-3">
          <nav class="panel">
            <p class="panel-heading">
              Challenges
            </p>

            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input is-small" type="text" placeholder="Search">
                <span class="icon is-small is-left">
                  <i class="fa fa-search"></i>
                </span>
              </p>
            </div>

            <div class="panel-block" id="myBtn">
              <p class="control has-icons-left">
                <span class="icon is-small is-left">
                  <i class="fa fa-plus"></i>
                </span>
                Add Challenge
              </p>
            </div>

            <% @unsolved_challenges.each_with_index do |challenge,index| %>
            <a class="panel-block is-active panellinks" onclick="openlink(event, '<%= index %>')" id="defaultOpen">
              <span class="panel-icon">
                <i class="fa fa-book"></i>
              </span>
              <%= challenge.description %>
            </a>
            <% end %>

          </nav>
        </div>


        <div class="column is-9">

          <div class="panel-content clearfix">

            <% @unsolved_challenges.each_with_index do |challenge,index| %>
              <div class="panelcontent" id="<%= index %>">

                <div class="tile is-ancestor">
                  <div class="tile is-vertical is-8">
                    <div class="tile">
                      <div class="tile is-parent">
                        <%= link_to challenge_path(challenge), :class=>"tile is-child notification" do %>
                          <img src="<%= challenge.challengeimage %>" alt="">
                        <% end %>
                      </div>

                      <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification">
                          Total Entries
                        </article>
                        <article class="tile is-child notification">
                          Submission Deadline
                        </article>
                      </div>

                    </div>
                    <div class="tile is-parent">
                      <article class="tile is-child notification">
                        <%= challenge.description %>
                      </article>
                    </div>
                  </div>
                  <div class="tile is-parent">
                    <article class="tile is-child notification">
                      <p><span class="title is-5">Recommended Developers</span>
                      <hr>

                      <% recommended_users(challenge).each do |key,value| %>
                      <div class="columns">
                        <div class="column is-3 is-marginless">
                          <div class="image">
                            <img src="https://placehold.it/200x200">
                          </div>
                        </div>
                        <div class="column is-9">
                          <p>
                            <a href="#">
                              <strong><%= link_to User.find(key).email, profile_path(key) %></strong>
                            </a>
                          </p>
                          <%=link_to 'Go', profile_path(key) ,:class=>"button is-primary is-small" %>
                        </div>
                      </div>
                      <% end %>

                    </article>
                  </div>
                </div>

                <div class="box">
                  <% challenge.solutions.reverse.each do |solution| %>
                  <p class="event-item">
                     <span class="icon-item-type"><i class="fa fa-upload"></i></span>

                     <%= solution.user.email %> has uploaded a solution
                     <br>
                     <%= truncate(solution.description, length:100)%>
                     <small>1 hours ago</small>

                   </p>
                  <% end %>

                  </div>
              </div>
            <% end %>

          </div>
        </div>
    </div>
  </div>

  </section>

  <div id="myModal" class="modal">

    <div class="modal-content">
      <span class="close">&times;</span>
      <%= render 'challenges/form', challenge: @challenge %>
    </div>

  </div>


  <script>
  // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
    }
  </script>

  <script>

  document.getElementById("defaultOpen").click();
  function openlink(evt, link) {
    var i,
      panelcontent,
      panellinks;

    panelcontent = document.getElementsByClassName("panelcontent");

    for (i = 0; i < panelcontent.length; i++) {
      panelcontent[i].style.display = "none";
    }
    panellinks = document.getElementsByClassName("panellinks");

    for (i = 0; i < panellinks.length; i++) {
      panellinks[i].className = panellinks[i].className.replace(" is-active", "");
    }

    document.getElementById(link).style.display = "block";
    evt.currentTarget.className += " is-active";
  }

  </script>
