<section class="section main">
    <div class="container">

      <div class="columns">
        <div class="column is-3">
          <nav class="panel">
            <p class="panel-heading">
              Challenges
            </p>
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input is-small" type="text" placeholder="Search">
                <span class="icon is-small is-left">
                  <i class="fa fa-search"></i>
                </span>
              </p>
            </div>
            <a class="panel-block is-active panellinks" onclick="openlink(event, '1')" id="defaultOpen">
              <span class="panel-icon">
                <i class="fa fa-book"></i>
              </span>
              All
            </a>
            <a class="panel-block panellinks" onclick="openlink(event, '2')">
              <span class="panel-icon">
                <i class="fa fa-code-fork"></i>
              </span>
              In Progress
            </a>
            <a class="panel-block panellinks" onclick="openlink(event, '3')">
              <span class="panel-icon">
                <i class="fa fa-code-fork"></i>
              </span>
              Autopicked
            </a>
            <a class="panel-block panellinks" onclick="openlink(event, '4')">
              <span class="panel-icon">
                <i class="fa fa-code-fork"></i>
              </span>
              Completed
            </a>
          </nav>
        </div>
        <div class="column is-6">

            <div class="panel-content clearfix">
              <div class="panelcontent" id="1">
                <% @unsolved_challenges.each do |challenge| %>
                  <%= link_to challenge_path(challenge) do%>
                  <div class="box">
                    <article class="media">
                      <div class="media-left">
                        <figure class="image is-64x64">
                          <img src="<%= challenge.challengeimage %>" alt="Image">
                        </figure>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong></strong><%= challenge.user.name %><small style="float:right;"><%= time_ago_in_words(challenge.created_at) %></small>
                            <br>
                            <%= challenge.description %>
                        </div>
                      </div>
                    </article>
                  </div>
                <% end %>
                <div class="spacer"></div>
                <% end %>
            </div>

            <div class="panelcontent" id="2">
              <% @challenge_in_progress.each do |challenge| %>
                <%= link_to challenge_path(challenge) do%>
                <div class="box">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="<%= challenge.challengeimage %>" alt="Image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong><%= challenge.user.name %></strong> <small style="float:right;"><%= time_ago_in_words(challenge.created_at) %></small>
                          <br>
                          <%= challenge.description %>
                      </div>
                    </div>
                  </article>
                </div>
              <% end %>
              <div class="spacer"></div>
              <% end %>
          </div>

          <div class="panelcontent" id="3">
            <% @auto_pick.uniq.each do |challenge| %>
              <%= link_to challenge_path(challenge) do%>
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="<%= challenge.challengeimage %>" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong><%= challenge.user.name %></strong> <small style="float:right;"><%= time_ago_in_words(challenge.created_at) %></small>
                        <br>
                        <%= challenge.description %>
                    </div>
                  </div>
                </article>
              </div>
            <% end %>
            <div class="spacer"></div>
            <% end %>
        </div>


            <div class="panelcontent" id="4">
              <% @user_participated.each do |challenge| %>
                <%= link_to challenge_path(challenge) do%>
                <div class="notification <%= green_red(@solved_by_user, challenge)%>">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="<%= challenge.challengeimage %>" alt="Image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong><%= challenge.user.name %></strong> <small>@johnsmith</small> <small style="float:right;"><%= challenge.created_at %></small>
                          <br>
                          <%= challenge.description %>
                      </div>
                    </div>
                  </article>
                </div>
              <% end %>
              <div class="spacer"></div>
              <% end %>
          </div>

          </div>

        </div>

        <div class="column is-3">
          <div class="box">
            <p><span class="title is-5">Recommended Challenges</span>
            <hr>

            <% @not_participated.each do |challenge| %>
            <div class="columns">
              <div class="column is-3 is-marginless">
                <div class="image">
                  <img src="<%= challenge.challengeimage %>">
                </div>
              </div>
              <div class="column is-9">
                <p>
                  <%= challenge.description %>
                </p>
              <%= link_to 'Go', challenge_path(challenge), :class=>"button is-primary is-small"%>
              </div>
            </div>
            <% end %>

          </div>
        </div>

      </div>
    </div>
  </section>

  <script>

  document.getElementById("defaultOpen").click();
  function openlink(evt, link) {
    var i,
      panelcontent,
      panellinks;

    panelcontent = document.getElementsByClassName("panelcontent");

    for (i = 0; i < panelcontent.length; i++) {
      panelcontent[i].style.display = "none";
    }
    panellinks = document.getElementsByClassName("panellinks");

    for (i = 0; i < panellinks.length; i++) {
      panellinks[i].className = panellinks[i].className.replace(" is-active", "");
    }

    document.getElementById(link).style.display = "block";
    evt.currentTarget.className += " is-active";
  }

  </script>
