<div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-6">

          <div class="scroller">
            <% @project.image.each do |image| %>
            <div class="image is-2by2">
              <img src="<%= image %>" alt="">
            </div>
            <% end %>
          </div>

        </div>
        <div class="column is-5 is-offset-1">
          <div class="title is-2"><%= @project.title %></div>
          <hr>
          <br>
          <br>
          <p>
            <%= @project.description %>
          </p>
          <br>
          <br>
          <table class="table">
            <tbody>
              <tr>
                <td class="has-text-right">
                  <strong>Developer</strong>
                </td>
                <td><%= @project.user.name %></td>
              </tr>
              <tr>
                <td class="has-text-right">
                  <strong>Added</strong>
                </td>
                <td><%= time_ago_in_words(@project.created_at)%> ago</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
