<div class="section">
  <div class="container bottom-padding">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">

          <div class="tile is-parent">
            <article class="tile is-child box is-info">
              <p class="title">Title</p>
              <figure class="image is-4by3">
                <img src="<%= @challenge.challengeimage %>">
              </figure>
            </article>
          </div>

          <div class="tile is-parent is-vertical">
            <article class="tile is-child box is-primary">
              <p class="title">Total Entries</p>
              <p class="content"><%= @challenge.solutions.count %></p>
            </article>
            <article class="tile is-child box is-warning">
              <p class="title">Submission Deadline</p>
              <p class="subtitle">Aligned with the right tile</p>
            </article>
          </div>

        </div>
        <div class="tile is-parent">
          <article class="tile is-child box is-danger">
            <p class="title">Description</p>
            <div class="content">
              <%= @challenge.description %>
            </div>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box is-success">
          <div class="content">
            <p class="title">Rules</p>
            <p class="subtitle">With even more content</p>
            <div class="content">
              <!-- Content -->
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns columns-entry">
      <% @solutions.each do |solution| %>
        <div class="column is-one-quarter">

          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <% solution.image.each do |image| %>
                <div><img src=<%= image %> alt="Image"></div>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <b><%= solution.title %></b>
                <br>
                <%= solution.description %>
              </div>
              <div class='center'>
              <%= form_for @challenge, :method => :PUT do |f| %>
                <%= f.hidden_field :solution, :value => solution.id %>
                <%= f.hidden_field :solved, :value => true %>
                <%= f.submit 'Choose', :class => 'button'%>
              <% end %>
              </div>
            </div>
          </div>

          </div>
        <%end %>
    </div>
  </div>
</div>

<%= render 'solutions/form', solution: @solution %>
