
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <div class="box">
          <img class = "is4by3" src="<%= @challenge.challengeimage %>" alt="">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>
    </div>
    <div class="column is-two-third">

    <div class="column">
      <div class="box">
        hello
      </div>
    </div>

      <div class="columns">
        <% @solutions.each do |solution| %>
          <div class="column is-half">

            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">John Smith</p>
                    <p class="subtitle is-6">@johnsmith</p>
                  </div>
                </div>

                <div class="content">
                  <b><%= solution.title %></b>
                  <%= solution.description %>
                </div>
                <div class='center'>
                <%= form_for @challenge, :method => :PUT do |f| %>
                  <%= f.hidden_field :solution, :value => solution.id %>
                  <%= f.hidden_field :solved, :value => true %>
                  <%= f.submit 'Choose', :class => 'button'%>
                <% end %>
                </div>
              </div>
            </div>

            </div>
          <%end %>




      </div>
    </div>
  </div>
</div>



<%= render 'solutions/form', solution:@solution%>
