<div class="section">
  <div class="container bottom-padding">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">

          <div class="tile is-parent">
            <article class="tile is-child box is-info">
              <p class="title">Title</p>
              <figure class="image is-4by3">
                <img src="<%= @challenge.challengeimage %>">
              </figure>
            </article>
          </div>

          <div class="tile is-parent is-vertical">
            <article class="tile is-child box is-primary">
              <p class="title">Total Entries</p>
              <p class="content"><%= @challenge.solutions.count %></p>
            </article>
            <article class="tile is-child box is-warning">
              <p class="title">Submission Deadline</p>
              <p class="subtitle">Aligned with the right tile</p>
            </article>
          </div>

        </div>
        <div class="tile is-parent">
          <article class="tile is-child box is-danger">
            <p class="title">Description</p>
            <div class="content">
              <%= @challenge.description %>
            </div>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box is-success">
          <div class="content">
            <p class="title">Rules</p>
            <p class="subtitle">With even more content</p>
            <div class="content">
              <!-- Content -->
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns columns-entry">

      <% if current_user.has_role? (:developer) %>
        <div class="column is-one-quarter" id="myBtn">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="http://toolboard.org/static/img/flaticon/file-storage.png" alt="">
              </figure>
            </div>

            <div class="card-content has-text-centered">
              <div class="content">
                <br>
                Add Solution
              </div>
            </div>

          </div>

        </div>
        <% end %>

      <% @solutions.each do |solution| %>
        <div class="column is-one-quarter">

          <%= link_to solution_path(solution) do%>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <div><img src=<%= solution.image[0] %> alt="Image"></div>
              </figure>
            </div>

            <div class="card-content">
              <div class="content">
                <b><%= solution.title %></b>
                <br>
                <%= solution.description %>
              </div>
              <div class='center'>
                <%if current_user.id == @challenge.user_id %>
                  <%= form_for @challenge, :url => url_for(:controller => 'challenge_solution', :action => 'update'), :method => "patch" do |f| %>
                    <%= f.hidden_field :solution, :value => solution.id %>
                    <%= f.hidden_field :solved, :value => true %>
                    <%= f.submit 'Choose', :class => 'button'%>
                  <% end %>
              <% end %>
              </div>
            </div>
          </div>
          <% end %>

          </div>
        <%end %>
    </div>
  </div>
</div>

<div id="myModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <%= render 'solutions/form', solution: @solution %>
  </div>

</div>

<script>
// Get the modal
  var modal = document.getElementById('myModal');

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on the button, open the modal
  btn.onclick = function() {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
  }
</script>
