<div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <div class="slick">
            <% @solution.image.each do |image| %>
            <div class="image is-2by2">
              <img src="<%= image %>" alt="">
            </div>
            <% end %>
          </div>
        </div>
        <div class="column is-5 is-offset-1">
          <div class="title is-2"><%= @solution.title %></div>
          <hr>
          <br>
          <br>
          <p>
            <%= @solution.description %>
          </p>
          <br>
          <br>
          <table class="table">
            <tbody>
              <tr>
                <td class="has-text-right">
                  <strong>Developer</strong>
                </td>
                <td><%= @solution.user.name %></td>
              </tr>
              <tr>
                <td class="has-text-right">
                  <strong>Added</strong>
                </td>
                <td><%= time_ago_in_words(@solution.created_at) %> ago </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
